.header-staff {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: "Arial", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #e0f2fe;
  padding: 10px;
  border-radius: 10px;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nav-tabs {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #007bff;
}

.account-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account:hover svg {
  fill: #007bff;
}

.logout-text {
  cursor: pointer;
  font-size: 14px;
  color: red;
  margin: 0;
  transition: color 0.3s ease;
}

.logout-text:hover {
  color: darkred;
}
